@import "base/fuentes";
@import "base/colores";
@import "base/mixins";

html {
    font-size: 16px;
}

.txtP {
    @include tipografiaBase($deco, 1rem, normal, $azul, null, null);
}
.btn{
    font-family: $deco;
}
.btn__clear{
    color: rgb(196, 47, 47);
}
.txtP__nav{
    @include tipografiaBase($deco, 2rem, normal, $azul, null, null);
}
.listaCat{
    list-style-position: outside;
    font-family: $deco;
}
.listaCat__fig{
    color: $azul;
    list-style-type: square;
}
@for $i from 1 to 3 {
    .letrasAuto-#{$i} { 
        font-size: 1rem* $i; 
        font-family: $deco;
        color: $azul;
    }
}
@media(min-width: 700px) {
.wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    grid-auto-rows: 200px;
    grid-template-areas:
      ". a a ."
      ". a a .";
  }
  .item1 {
    grid-area: a;
    align-self: center;
    justify-self: center;
  }
}
@media(min-width: 700px) {   
.wrapper2 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    grid-auto-rows: 200px;
    grid-template-areas:
      ". a a ."
      ". b b .";
  }
  .item1b {
    grid-area: a;
    align-self: center;
    justify-self: center;
  } 
  .item2 {
    grid-area: b;
    align-self: center;
    justify-self: center;
  }
}
@media(min-width: 700px) {
.wrapper3 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    grid-auto-rows: 200px;
    grid-template-areas:
      ". a a . ."
      ". c b . .";
  }
  .item1ind {
    grid-area: a;
    align-self: center;
    justify-self: center;
  } 
  .item2ind {
    grid-area: b;
    align-self: center;
    justify-self: center;
  } 
  .item3ind {
    grid-area: c;
    align-self: center;
    justify-self: center;
  } 
}